/* Header */
.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.btn-mobile-nav {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* Hero */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.6;
}


.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  margin-right: -1.6rem;
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* Features */
.section-featured {
  padding: 4.8rem 0 3.2rem;
}

.heading-featured-in {
  margin-bottom: 2.4rem;
  color: #888;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/* How it works section */
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  margin-bottom: 1.2rem;
  color: #ddd;
  font-size: 8.6rem;
  font-weight: 600;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  padding-bottom: 60%;
  /* 60% от ширины родительского контейнера */
  width: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/* Meals section */
.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  transition: all 0.4s;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  color: #333;
  border-radius: 100px;
  font-size: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  margin-bottom: 3.2rem;
  color: #333;
  font-size: 2rem;
  font-weight: 600;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

/* Diets Section */
.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

/* Testimonials section */
.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  background-color: #fdf2e9;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem 8rem;
}

.testimonial-img {
  margin-bottom: 1.2rem;
  width: 6.4rem;
  border-radius: 50%;
}

.testimonial-text {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.testimonial-name {
  color: #6f6f66;
  font-size: 1.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* Price Section */
.section-pricing {
  padding: 9.6rem 0;
}

.pricing-header {
  margin-bottom: 4.8rem;
  text-align: center;
}

.pricing-plan {
  width: 75%;
  border-radius: 11px;
}

.pricing-plan--starter {
  justify-self: end;
  padding: 4.5rem;
  border: 3px solid #fdf2e9;
}

.pricing-plan--complete {
  position: relative;
  padding: 4.8rem;
  background-color: #fdf2e9;
  overflow: hidden;
}

.pricing-plan--complete::before {
  content: "Best value";
  position: absolute;
  top: 4.5%;
  right: -9%;
  padding: 0.8rem 3.2rem;
  color: #333;
  background-color: #ffd43b;
  font-size: 1.4rem;
  font-weight: 700;
  transform: rotate(45deg);
  text-transform: uppercase;
}

.plan-name {
  margin-bottom: 3.2rem;
  color: #cf711f;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
}

.plan-price {
  margin-bottom: 1.6rem;
  color: #333;
  font-size: 6.2rem;
  font-weight: 600;
}

.plan-price span {
  margin-right: 0.8rem;
  font-size: 3rem;
  font-weight: 500;
}

.plan-text {
  color: #6f6f6f;
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

/* Features */
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  height: 3.2em;
  width: 3.2rem;
  border-radius: 50%;
  color: #e67e22;
  background-color: #fdf2e9;
}

.feature-title {
  margin-bottom: 1.6rem;
  color: #333;
  font-size: 2.4rem;
  font-weight: 700;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* CTA */
.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta-text {
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta .heading-secondary {
  margin-bottom: 3.2rem;
  color: #45260a;
}

.cta-img-box {
  background-image:  linear-gradient(to right bottom, rgba(235, 151, 78, 0.3), rgba(230, 125, 34, 0.3)), url('../img/eating.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.cta-form input,
.cta-form select {
  padding: 1.2rem;
  width: 100%;
  color: inherit;
  background-color: #fdf2e9;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  font-family: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* Footer */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  margin-top: auto;
  color: #767676;
  font-size: 1.4rem;
  line-height: 1.6;
}

.footer-heading {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.contacts {
  font-size: 1.6rem;
  line-height: 1.6;
  font-style: normal;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  color: #767676;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}